doctype html
html(lang =lang)
    head 
        script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js')
        link(href="//cdn-images.mailchimp.com/embedcode/classic-061523.css",rel="stylesheet",type="text/css")
        link(rel='stylesheet', type='text/css', href='static/styles/main.css')
        meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        title=title
        meta(name="description",content="Mesh – Festival für Kunst und Technologie – 17.–20. Oktober 2024")
        meta(property="og:title" content="Mesh – Festival für Kunst und Technologie – 17.–20. Oktober 2024")
        meta(property="og:description", content="Multisensorische Erfahrungen, interaktive, immersive Erlebnisse und Installationen, Nachdenken über eine freundliche Zukunft")
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://meshfestival.ch")

        meta(property="og:image" content="/static/img/favicon/android-chrome-512x512.png")
        meta(property="og:site_name" content="Mesh – Festival für Kunst und Technologie")

        link(rel="apple-touch-icon",sizes="180x180",href="/static/img/favicon/android-chrome-192x192.png")
        link(rel="icon",type="image/png",sizes="32x32",href="/static/img/favicon/favicon-32x32.png")
        link(rel="icon",type="image/png",sizes="16x16",href="/static/img/favicon/favicon-16x16.png")
        link(rel="mask-icon",href="/static/img/favicon/favicon_23.png",color="#000")
        meta(name="msapplication-TileColor",content="#000")
        meta(name="theme-color",content="#fff")
        link(rel="icon",type="image/png",href="/static/img/favicon/android-chrome-192x192.png")
        meta(name="robots",content="max-image-preview:large")
        meta(name="google-site-verification", content="TNAoxn34J4XEOzd8PTJtXvliDdC8DqZFmlmGiJ4_IxQ")

    body 
        #insta
            a(href="https://instagram.com/meshfestival/",target="_blank").
                @meshfestival
        //#opencall
            a(href="#open").
                Open Call
        div(id="status")
        div(id="members")

        div.columnVideo.mobile
            h2=mobile
            video.mobileVideo(data-src="static/videos/MESH-FESTIVAL-MOBILE.mp4",autoplay="true",loop="true",muted="true",playsinline="true",poster="static/img/mesh-Festival-videoCover.jpg")        
        div.columnVideo.desktop
            video.desktopVideo(data-src="static/videos/MESH-FESTIVAL.mp4",autoplay="true",loop="true",muted="true",playsinline="true",poster="static/img/mesh-festival-background.jpg") 
        div.bubbles.bubblesLeft.desktop
            .verticalSpace 
            video#bubbleLeftVideo.desktopVideo(data-src="static/videos/01-1-DE.mp4",autoplay="true",loop="true",muted="true",playsinline="true") 
        div.bubbles.bubblesRight.desktop
            .verticalSpace 
            video#bubbleRightVideo.desktopVideo(data-src="static/videos/02-1-DE.mp4",autoplay="true",loop="true",muted="true",playsinline="true") 
        div.columnBackground.desktop

        script.
            function videoLoad(){ 
                if($(window).width()<$(window).height()){
                    $('.desktop').css('display','none');
                    $('.mobileVideo').attr('src',$('.mobileVideo').attr('data-src'));  
                    $('.mobileVideo').attr('id','mainVideo');  

                }else{
                    $('.mobile').css('display','none');
                    $('.desktopVideo').each(function( index ) {
                        $(this).attr('src',$(this).attr('data-src'));                 
                    });
                    $('.desktopVideo').first().attr('id','mainVideo');  

                }
            }
            videoLoad();
        div.column
            //h2#headline.H2desktop.stickyNavItem(onclick="scrolltoContent('headlineContent');")
                a(href="#headlineContent"). 
                    Mesh
            div#headlineContent.headline.section
                //h2#headline.mobileH2
                    a(href="#headlineContent"). 
                        Mesh
                h1=headline
            h2#statement.H2desktop.stickyNavItem(onclick="scrolltoContent('statementContent');")
                a(href="#statementContent")=statement      
            div#statementContent.statement.section
                h2#headline.mobileH2
                    a(href="#statementContent")=statement        
                h1=theme
                 
                h3
                    p !{statementContent.replace(/\n/g, "</p><p>")}

            h2.H2desktop.stickyNavItem(onclick="scrolltoContent('programContent');")
                a(href="#programContent")=program
            #programContent.program.section 
                h2.mobileH2
                    a(href="#programContent")=program
                h1 !{programContent.replace(/\n/g, "<br />")}
 
            h2.H2desktop.stickyNavItem(onclick="scrolltoContent('contactContent');")
                a(href="#contactContent")=contact
            div#contactContent.contact.section
                h2.mobileH2
                    a(href="#contactContent")=contact
                h3 !{contactContent.replace(/\n/g, "<br />")}
                h3 !{pressContact.replace(/\n/g, "<br />")}
                //h1#open. 
                    !{openCall.replace(/\n/g, "<br />")}
                //h3 !{openCallContent.replace(/\n/g, "<br />")}
                //li.submit
                    a(href="https://forms.gle/LRHhwimD48FyQKsc6",target="_blank").
                        Submit
                h1. 
                    !{follow.replace(/\n/g, "<br />")}
                li.submit
                    a(href="https://instagram.com/meshfestival/",target="_blank").
                        @meshfestival
            h2.H2desktop.stickyNavItem(onclick="scrolltoContent('newsletterContent');")
                a(href="#newsletterContent").
                    Newsletter        
            div#newsletterContent.newsletter.section
                h2.mobileH2
                    a(href="#newsletterContent").
                        Newsletter                     
                h3 !{newsletterContent.replace(/\n/g, "<br />")}
               
                //MAILCHIMP
                div <div id="mc_embed_shell"><div id="mc_embed_signup"><form action="https://meshfestival.us9.list-manage.com/subscribe/post?u=559479f5c526b5d3100a3b277&amp;id=8a5c55bc1a&amp;f_id=00691ee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"><div id="mc_embed_signup_scroll"><div class="indicates-required"></div><div class="mc-field-group"><label for="mce-EMAIL">E-Mail<span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div><div class="mc-field-group"><label for="mce-FNAME">Vorname</label><input type="text" name="FNAME" class="text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Nachname</label><input type="text" name="LNAME" class="text" id="mce-LNAME" value=""></div><div id="mce-responses" class="clear foot"><div class="response" id="mce-error-response" style="display:none"></div><div class="response" id="mce-success-response" style="display:none"></div></div><div aria-hidden="true" style="position:absolute;left:-5000px">/* real people should not fill this in and expect good things - do not remove this or risk form bot signups */ <input type="text" name="b_559479f5c526b5d3100a3b277_8a5c55bc1a" tabindex="-1" value=""></div><div class="optionalParent"><div class="clear foot"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"><p style="margin:0 auto;display:none;"><a href="http://eepurl.com/iDa5fs" title="Mailchimp – Einfaches, schnelles E-Mail-Marketing"><span style="display:inline-block;background-color:transparent;border-radius:4px"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width:220px;height:40px;display:flex;padding:2px 0;justify-content:center;align-items:center"></span></a></p></div></div></div></form></div><script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">jQuery,window.fnames=new Array,window.ftypes=new Array,fnames[0]="EMAIL",ftypes[0]="email",fnames[1]="FNAME",ftypes[1]="text",fnames[2]="LNAME",ftypes[2]="text",fnames[3]="ADDRESS",ftypes[3]="address",fnames[4]="PHONE",ftypes[4]="phone",fnames[5]="BIRTHDAY",ftypes[5]="birthday";var $mcj=jQuery.noConflict(!0)</script></div>





                .logos
                    h3 !{infos.replace(/\n/g, "<br />")}

                    span=initiative
                        br
                    a(href="https://www.hek.ch",target="_blank")
                        img.logoNoPadding(src="static/img/hek.svg")
                    a(href="https://iart.ch/",target="_blank")
                        img.logoNoPadding(src="static/img/iart.svg")
                    a(href="https://www.fhnw.ch/hgk",target="_blank")
                        img(src=fhnw)
                        br
                    span=sponsor
                        br
                    a(href="http://www.swisslosfonds.bs.ch/",target="_blank")
                        img.logoNoPadding(src="static/img/swisslos-bs.svg")
                    a(href="https://www.baselland.ch/politik-und-behorden/direktionen/sicherheitsdirektion/swisslos-fonds",target="_blank")
                        img.logoNoPadding(src="static/img/swisslos-bl.svg")
                    a(href="https://www.cms-basel.ch/",target="_blank")
                        img.logoNoPadding(src="static/img/cms.svg")
                        br
                    a(href="https://www.mobiliar.ch/",target="_blank")
                        img(src="static/img/MOB_d_RGB_weiss.svg")
                    a(href="https://www.kbhg.ch/",target="_blank")
                        img(src="static/img/kbhg.svg")
                        br
                    span=kooperationspartner
                        br
                    a(href="https://www.musik-akademie.ch/klassik/de/projekte-und-ensembles/elektronisches-studio-basel.html",target="_blank")
                        img.logolong.logoNoPadding(src="static/img/elektronisches-studio-basel.svg")                      
                    a(href="https://radiox.ch/",target="_blank")
                        img.logoNoPadding(src="static/img/radio-x.svg")   
                    a(href="https://derivative.ca/",target="_blank")
                        img.logolong(src="static/img/touchdesigner.svg")   
                        br
                    span=hostingparter
                        br
                    a(href="https://kunsthausbaselland.ch/",target="_blank")
                        img.logolong(src="static/img/kunsthaus-baselland.svg")                        
                    a(href="https://www.herzogdemeuron.com/",target="_blank")
                        img.logolong(src="static/img/herzogdemeuron.svg")   
                        br
                    .imprint !{imprintContent.replace(/\n/g, "<br />")}

                    .credits
                        div
                            u.
                                Video sources
                        div.
                            Under Creative Commons license:<br>
                        a(href="https://youtube.com/watch?v=AsnLmKC5phw",target="_blank").
                            MN2020: Urban Farming Sprouts Youth Development: <br>youtube.com/watch?v=AsnLmKC5phw<br>
                        a(href="https://youtube.com/watch?v=9kq-DlBxVIM",target="_blank").
                            Vertical farming on a rooftop in Paris, France: <br>youtube.com/watch?v=9kq-DlBxVIM<br>
                        a(href="https://youtube.com/watch?v=srzpwrqWtPg",target="_blank").
                            5 Innovative Vertical Farming Equipment | Future of Farming: <br>youtube.com/watch?v=srzpwrqWtPg<br>
                        a(href="https://media.ccc.de/v/rc3-11416-biohacking_in_art",target="_blank").
                            Biohacking in art: <br>media.ccc.de/v/rc3-11416-biohacking_in_art<br>
                        
                        a(href="https://www.youtube.com/watch?v=m_WxQaQ1ZPM",target="_blank").
                            iPhone Lidar Architectural Survey to Archicad:<br>
                            youtube.com/watch?v=m_WxQaQ1ZPM<br>
                        a(href="https://www.youtube.com/watch?v=J7KnKypGTyQ",target="_blank").
                            3d floorplan animation:<br>
                            youtube.com/watch?v=J7KnKypGTyQ<br>
                        a(href="https://www.youtube.com/watch?v=G6lig2Xkrqs",target="_blank").
                            10 Million Points:<br>
                            youtube.com/watch?v=G6lig2Xkrqs<br>
                        a(href="https://www.youtube.com/watch?v=NLcD8Ov8Jlw",target="_blank").
                            Download Coloured LiDAR Point Clouds for the Netherlands AHN4 from GeoTiles.nl:<br>
                            youtube.com/watch?v=NLcD8Ov8Jlw<br>
                        a(href="https://www.youtube.com/watch?v=vZGdrZeVjKY",target="_blank").
                            Vanuatu LiDAR data acquisition 3D flythrough video:<br>
                            youtube.com/watch?v=vZGdrZeVjKY<br>
                        a(href="https://www.youtube.com/watch?v=kwpj7ZUtnac",target="_blank").
                            Render Point Clouds in Blender with Cycles (.ply):<br>
                            youtube.com/watch?v=kwpj7ZUtnac<br>
                        a(href="https://www.youtube.com/watch?v=a7dIojl-JlY",target="_blank").
                            Occipital Sensor:<br>
                            youtube.com/watch?v=a7dIojl-JlY<br>
                        a(href="https://www.youtube.com/watch?v=BzP6vSFeqXE",target="_blank").
                            Chillstep Dubstep Forest Mix:<br>
                            youtube.com/watch?v=BzP6vSFeqXE<br>
                        a(href="https://www.youtube.com/watch?v=NUU8nMs8mtQ",target="_blank").
                            Top 5 LiDar Apps for iPhone 12/13/14 Pro!<br>
                            youtube.com/watch?v=NUU8nMs8mtQ<br><br>

                        div.
                            By the courtesy of Mathias Lempart:
                        a(href="https://www.mathiaslempart.com/",target="_blank").
                            Hidden In Ice, 2017
            
                    div.footer
                        a(href="static/html/datenschutz.html" target="_blank")=disclaimer
                            br
                        a(href="https://www.instagram.com/meshfestival/",target="_blank")
                            img(src="static/img/icons/sm-icon-02.svg")
                        a(href="https://www.linkedin.com/company/meshfestival",target="_blank")
                            img(src="static/img/icons/sm-icon-01.svg")
                        a(href="https://www.facebook.com/meshfestival/",target="_blank")
                            img(src="static/img/icons/sm-icon-03.svg")                        
        #lang
            a(href =(translation))=translation
        .videoSubtitleWrap(data-max="11")
        #cookieNotice.light.display-right(style='display: none;')
            #closeIcon(style='display: none;')
            .title-wrap
                h4 Cookie Consent
            .content-wrap
                .msg-wrap
                p
                    | By continuing to browse this site, you agree to the use of cookies. We use cookies to analyse web traffic. 
                    a(href='/static/html/datenschutz.html') Privacy Policy
                .btn-wrap
                    button.btn-primary(onclick='acceptCookieConsent();') Accept



        script. 
            let colors = !{JSON.stringify(colors)}
            var lang = 'EN';
            if('!{translation}' == 'EN'){
                lang = 'DE';
            }
        script(src='static/script/main.js')
        script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        script(type='text/javascript').
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);

